/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap'); */
@import url(./fonts.google.css);


body{
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    border: none;
    height: 100%;
    position: fixed;
    top: 0;
    visibility: visible;
    width: 99%;
    background-size: cover;
}
::selection{
    background-color: #b6d0cf;
    color: #fff;
}
a{
    text-decoration: none;
    color: inherit;
}
#home{
    height: 350px;
    margin-top: 10%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #333;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 20%;
    margin-right: 20%;
}
.home_weap{
    padding-top: 7%;
}
.home_greet{
    color: #666;
    font-size: 400%;
}
.typewrite{
    color: #666;
    opacity: 70%;
    font-weight: 600;
    line-height: 150%;
    margin-top: 15px;
}
.socials{
    margin-top: 30px;
    word-spacing: 10px;
    font-size: 2rem;
    transition: 0.115s ease-in;
}
.social_github{
    transition: 0.115s ease-in;
}
.social_reddit{
    transition: 0.115s ease-in;
    color: #ff4500;
}
.social_music{
    transition: 0.115s ease-in;
    color: #1DB954;
}
.social_github:hover{
    opacity: 70%;
    transform: translateY(-6px);
}
.social_music:hover{
    opacity: 70%;
    transform: translateY(-6px);
}
.social_reddit:hover{
    opacity: 70%;
    transform: translateY(-6px);
}
.about_wrap{
    color: #666;
    height: 400px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #333;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}
.title{
    font-size: 3rem;
}
.about_type{
    color: #666;
    opacity: 1;
    font-size: 2rem;
}
.about_inner_part{
    font-family: 'Montserrat', sans-serif;
    padding-left: 5%;
}
.link_accent{
    color: #b6d0cf;
}
.p1{
    color: #666;
    margin-top: 7%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    height: 200px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #333;
    margin-left: 20%;
    margin-right: 20%;
}
.p1_title{
    padding-top: 4%;
}
.p_content{
    padding-left: 25%;
}
.p_img_svg{
    padding-top: 4%;
    padding-left: 4%;
    float: left;
    font-size: 7rem;
}
.p1:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.skills{
    margin-top: 5%;
}
.html-icon{
    margin-left: 25%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 10rem;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #333;
    padding: 20px 20px;
}
.css-icon{
    margin-left: 5%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 10rem;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #333;
    padding: 20px 20px;
}
.js-icon{
    margin-left: 5%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 10rem;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #333;
    padding: 20px 20px;
}
.footer{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  color: #fff;
}
.heart{
    color: #b6d0cf;
}
.skills svg{
    color: #b6d0cf;
}
.skills svg:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}